{% extends 'base.html' %}

{% block title %}Manage Team{% endblock %}

{% block content %}
<h1>Team Management</h1>
<a href="{{ url_for('add_player') }}" class="button">Add a Player</a>
<a href="{{ url_for('add_team') }}" class="button">Add a Team</a>

<div class="team-container">
    {% for team_name, players in teams.items() %}
    <div class="team-box">
        <h2>{{ team_name }}</h2>
        <div class="table-wrapper">
            <table class="team-table">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Jersey Number</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for player in players %}
                    <tr>
                        <td>
                            <img src="{{ url_for('uploaded_file', filename=player['image_path'].split('/')[-1]) }}" alt="Player Image">
                        </td>
                        <td>{{ player['name'] }}</td>
                        <td>{{ player['surname'] }}</td>
                        <td>{{ player['jersey_number'] }}</td>
                        <td>
                            <a href="{{ url_for('update_player', player_id=player['id']) }}" class="action-link">Update</a>
                            <a href="{{ url_for('delete_player', player_id=player['id']) }}" class="action-link" onclick="return confirm('Are you sure?')">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
