{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
<div class="homepage-container">
    <div class="homepage-cards">
        <a href="{{ url_for('team_management') }}" class="card card-link" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/4/42/Football_in_Bloomington%2C_Indiana%2C_1995.jpg');">
			<h2>Manage Your Teams</h2>
        </a>
        <a href="{{ url_for('track_match') }}" class="card card-link" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/a/a0/2022-04-24_Fu%C3%9Fball%2C_M%C3%A4nner%2C_3._Liga%2C_1._FC_Magdeburg_-_FSV_Zwickau_IMG_4343_by_Stepro.jpg');">
			<h2>Track a Match</h2>
        </a>
        <a href="{{ url_for('match_statistics') }}" class="card card-link" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/4/46/Ousmane_Demb%C3%A9l%C3%A9_World_Cup_Trophy.jpg');">
			<h2>Match Statistics</h2>
        </a>
    </div>
</div>
{% endblock %}
