{% extends 'base.html' %}

{% block title %}
  Soccer Stats - Homepage
{% endblock %}

{% block content %}
<div class="homepage-container">
    <h1>Welcome to Soccer Stats!</h1>

    <div class="homepage-cards">
        <a href="{{ url_for('list_teams') }}" class="card">
            Team Management
        </a>
        <a href="{{ url_for('start_match') }}" class="card">
            Start a Match
        </a>
        <a href="{{ url_for('match_statistics') }}" class="card">
            Match Statistics
        </a>
    </div>
</div>
{% endblock %}
